.main-section {
  border: 1px solid #138496;
  background-color: #fff;
}
.profile-header {
  background-color: #17a2b8;
  height: 150px;
}
.user-detail {
  margin: -100px 0px 30px 0px;
}
.user-detail img {
  height: 200px;
  width: 200px;
}
.user-detail p {
  font-size: 18px;
  color: black;
}
.user-detail h5 {
  margin: 15px 0px 5px 0px;
}
.user-social-detail {
  padding: 15px 0px;
  background-color: #17a2b8;
}
.user-social-detail a i {
  color: #fff;
  font-size: 23px;
  padding: 0px 5px;
}
.contact {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
.contact:hover {
  color: black;
}
.profile {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 5px solid #fff;
  background-position: center center;
  background-size: cover;
}
